@import "~bootstrap/scss/bootstrap";
@import "foundations/colors";
@import "foundations/typography";
@import "templates/textComponents";
@import "templates/cardGroup";
@import "templates/ctaBanner";
@import "organisms/card";
@import "organisms/footer";
@import "organisms/activityBanner";
@import "organisms/headerText";
@import "organisms/qnaCta";
@import "atoms/arrowButton";
@import "atoms/titleText";
@import "atoms/button";
@import "atoms/quote";
@import "atoms/bannerText";
@import "molecules/fullWidthText";
@import "foundations/custom";

.svg_logo {
    width: 100px;
}

.top-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hero-text-column {
    z-index: 1;
}

.absolute {
    display: grid;
    position: absolute;
    right: 10%;
    top: 40%;
}

.hero-banner {
    position: relative;
}
