.theme-black,
.btn,
.btn-primary {
    box-sizing: border-box;
    height: 48px;
    width: fit-content;
    border: 1px solid $solid-blue-700;
    border-radius: 999px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-out 10ms;
    justify-content: space-between;

    &.theme-black p {
        color: $solid-blue-700;
    }
}

.btn,
.btn-primary {
    color: $solid-blue-700;
    background-color: white;
    transition: background-color 0.5s ease-out 10ms;
}

.btn:hover,
.btn-primary:hover,
.theme-black:hover {
    background-color: $visionary-blue;
}

:not(.btn-check) + .btn:hover,
.btn:first-child:hover {
    color: $solid-blue-700;
    background-color: $visionary-blue;
    border-color: $solid-blue-700;
}

.buttonWidth {
    margin-bottom: 0px;
    padding: 16px;
}

a {
    text-decoration: none;
}

.buttonIcon {
    align-items: center;
    width: 16px;
    margin: 0px 16px;
}

.theme-white {
    box-sizing: border-box;
    height: 48px;
    width: fit-content;
    border: 1px solid $solid-white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease-out 10ms;

    &.theme-white > p {
        color: $solid-white;
    }
}

.theme-white:hover {
    background-color: $contrast-green-700;
    transition: background-color 0.5s ease-out 10ms;
}

.buttonContainer {
    margin-top: 64px;
}
