.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding-top: 64px;
}

.illustration {
    object-fit: cover;
    height: 800px;
    width: 500px;
}

.illustraton-part-right {
    display: flex;
    flex-direction: row-reverse;
}

.illustraton-part-left {
    display: flex;
    flex-direction: row;
}
