.adminSection {
    display: flex;
    flex-direction: row;
    margin-top: 112px;
    justify-content: space-around;
    margin-bottom: 700px;
}

.adminLoginSection {
    width: 400px;
    margin-top: 56px;
}

.loginTitle {
    width: 400px;
}
