.cardIllustration {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.card {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid $solid-blue-700;
    margin-bottom: 24px;
}

.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
