.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding-top: 64px;
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustration {
    object-fit: cover;
    height: 800px;
    width: 500px;
}

.illustraton-part {
    display: flex;
    flex-direction: row-reverse;
}