.arrowButton {
    box-sizing: border-box;
    border: 1px solid $solid-blue-700;
    border-radius: 999px;
    padding: 5px 0px;
}

.iconWrapper {
    align-items: center;
    height: 16px;
    left: 10px;
    margin: 0px 16px;
}
